<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>
    <h1>{{data}}</h1>
    <h2>{{code}}</h2>
    <button onclick="setreviewURL()">返回回访流程生成</button>
    <button onclick="setpublicURL()">返回公开信息流程生成</button>

</body>
<script>
    var host = window.location.host||'127.0.0.1:8080';
    var pathname = window.location.pathname
    console.log("host:",host);
    function setreviewURL(){
        window.location.href='http://' + host + '/clientreview/form'
    }
    function setpublicURL(){
        window.location.href='http://' + host + '/ctptypublicinfo/form'
    }

</script>
</html>