<!--<head>标题-->
<!--    <meta charset="UTF-8"></head>-->
<!--    <p>学习记录</p>-->

<!--    <p>这里将记录学习笔记的创建和删除以及修改</p>-->
<!--    <input type = "text" name="my_input" id="my_input" clase="form-control">-->
<!--    <button type ="submit">提交</button>-->
<!--<head>欢迎来到</head>-->
<html lang="en>
    <head>
        <meta charset="UTF-8>
        <meta http-equiv="X-UA-Compatible" content="'IT=edge">
        <meta name="'viewport" content="width=device-width,initial-scale=1.0">
        <title>Document</title>


</head>

        <style>
            .button{
            display:inline=block;
            padding:10px 20px;
            background-color:#007bff;
            color:fff;
            text-decoration:none;
            border-radius:4px;
            }
        </style>
        <body>
        <a href="www.baidu.com" class="button">证件到期台账</a>
        <a href="www.baidu.com" class="button">证件到期机构</a>
        <a href="www.baidu.com" class="button">公开信息</a>
        <a href="www.baidu.com" class="button">回访流程</a>
        </body>
    </head>


</html>